*{
    padding: 0;
    margin: 0;
   
     /* border: solid 2px red;  */

}
.blueBtn{
    padding: 16px 16px 16px 16px;
    color: white;
    background-color:rgb(21,58,91) ;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    box-sizing: border-box;
    font-weight: 800;
    margin-top: 1rem;
    position: relative;
    
}
.arrow{
    font-size: 25px;
    color: rgb(235, 238, 241);
    margin-bottom: -8px;
}
.arrow:hover{
    font-size: 25px;
    color: rgb(21,58,91);
    margin-bottom: -8px;
}

.blueBtn:hover{
    border: solid 1px rgb(21, 58, 91);
    background-color:white ;
    color:rgb(21,58,91) ;
}
.text{
    margin-top: 3rem;
    padding-left: 1rem;
}
.text h6{
    color: rgb(180, 182, 184) ;
    margin-top: 4rem;
    font-size: 11px;
    margin-bottom: 14px;
}
.text p{
    line-height: 2rem;
}
.image{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.writting{
    position: relative;
    top: 340px;
    text-align: center;
    line-height: 1.5rem;
    color: white;
    
    

}
.showAll-first-img{
    background-image: url('/images/purification-big.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
}
.showAll-second-img{
    background-image: url('/images/home-big.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
}
.showAll-third-img{
    background-image: url('/images/drinkware-big-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
}
.pwritting{
    position: relative;
    top: 362px;
    text-align: center;
    line-height: 1.5rem;
    color:rgb(21, 58, 91) ;
}
.purify-first-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/BDMB050A.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.purify-second-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/BDOB074A.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.purify-third-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/BFDOB050A.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.home-first-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/PNAMB190A.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.home-second-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/home-big.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.drinkware-first-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/BNWOB068A.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.drinkware-second-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/BNSOB050A-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}
.drinkware-third-img{
    background-color: rgb(245,246,250);
    background-image: url('/images/p1-mb-17-2_250233e59.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    
}

/* NAV HOVER ACRD */
.shopAll{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 2.5rem;
    /* border: solid red 1px; */
    box-sizing: border-box;
    z-index: 12;
    top: 80px;
    display: none;
    left: 30px;
    border-radius: 10px;
    
   
}
   


.purify{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 2.5rem;
    /* border: solid red 1px; */
    box-sizing: border-box;
    z-index: 12;
    top: 80px;
    left: 35px;
    display: none;
    border-radius: 10px;
   

}
.home{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 2.5rem;
    /* border: solid red 1px; */
    box-sizing: border-box;
    z-index: 12;
    top: 80px;
    left: 35px;
    display: none;
    border-radius: 10px;
   


}
.drinkware {
    position: absolute;
   
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 2.5rem;
    /* border: solid red 1px; */
    box-sizing: border-box;
    z-index: 12;
    top: 80px;
    left: 35px;
    display: none;
    border-radius: 10px;
   

}

/* Hover effect */
.shop:hover .shopAll{
    display: flex;
   
}

.puri:hover .purify{
    display: flex;
}
.house:hover .home{
    display: flex;
}
.drink:hover .drinkware {
    display: flex;
    flex-direction: row;
     /* Change to "flex" to show the element */
}
/* .swiper{
    position: relative;
    height: 500px;
    width: 100%;
    padding: auto;
    gap: 1rem;
    
} */

.swiper .swiper-scrollbar{
 background-color: rgb(204,215,224);
 border-radius: 10px;
 height: 6px;
 cursor: pointer;
 margin-bottom: -4px;
 
 
 
}


  .swiper .swiper-scrollbar-drag {
    background-color: rgb(21,58,91);
    border-radius: 10px;
    height: 3.4px;
    cursor: pointer;
    margin-bottom: -4px;
 
      
  }
 