/* page.module.css */
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgb(245, 249, 252);
    color: rgb(21, 58, 91);
    padding: 1.5rem;
   margin-bottom: 10px;
   border-radius: 3px;
   
    
  }
  
  .card img {
    position: absolute;
    bottom: 40px;
    
  }
  
  .card p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

.swip{
  width: 100%;
  padding: 0px;
  
}
  
 

  